{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}

<main class="main pt-4" role="main">
  <div class="container">
    <div class="row">
    <div class="col-md-9">
      <form class="" action="{% url "create_blog" %}" method="post">{% csrf_token %}
        <ul>
          <li>
          	<label for="id_title">Title:</label>
          	<input type="text" name="title" id="id_title" maxlength="120" required />
          </li>
          <li>
          	<label for="id_blog_text">Blog text:</label>
			<textarea name="blog_text" rows="10" id="id_blog_text" required cols="40"></textarea>
		  </li>
		  <li>
				<label for="id_blog_image">Blog image:</label>
				<input type="file" name="blog_image" id="id_blog_image" />
		  </li>
        </ul>
        <input type="submit" name="submit" value="Create Blog">
      </form>
      </div>
      {% include "aside_create.html" %}
  </div>
</div>
</main>
{% endblock %}
