<header role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
    <div class="container">
      <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3 order-md-2" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link"  href="{% url "home" %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="">Typography</a>
              <a class="dropdown-item" href="">Buttons</a>
              <a class="dropdown-item" href="">Tables</a>
              <a class="dropdown-item" href="">Forms</a>
              <a class="dropdown-item" href="">Cards</a>
            </div>
          </li>
        </ul>
      </div>
      <a class="navbar-brand mx-auto order-1 order-md-3" href="">Unify</a>
      <div class="collapse navbar-collapse order-4 order-md-4" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
              {% else %}
              <a class="dropdown-item" href="{% url "register_user" %}">Register User</a>
              <a class="dropdown-item" href="{% url "login" %}">Login</a>
              {% endif %}
            </div>
          </li>
        </ul>
        <form class="form-inline" role="search">
          <input class="search js-search form-control form-control-rounded mr-sm-2" type="text" title="Enter search here.." placeholder="Search.." aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
</header>
